body {
  font-family: $font_cabin;
  font-size: 15px;
}

.black-title {
  @include h1-title($color_base, $color_main);
  
  @media #{$mobile} {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}

.white-title {
  @include h1-title($color_light, $color_main);

  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.caption-content {
  font-family: $font_cabin;
  text-align: center;
  max-width: 520px;

  h2 {
    color: $color_main;
    font-family: $font_montserrat;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
  p {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 500;
    padding: 0 93px;
    line-height: 26px;

    @media #{$mobile} {
      padding: 0;
    }
  }
}

.bl-our-project-content{
  h2{
    font-size: 22px;
    line-height: 38px;
    font-family: $font_cabin;
    font-weight: bold;
    //background: $color_main;
    color: #fff;
    margin: 0 0 10px;
    &:nth-of-type(3){
      position: relative;
      &:after{
        content: "";
        border-bottom: solid 3px $color_main;
        width: 25px;
        display: block;
        position: absolute;
        bottom: -25px;
      }
    }
  }
  h5{
    font-size: 12px;
    line-height: 36px;
    font-family: $font_montserrat;
    font-weight: normal;
    color: #000;
    margin: 30px 0px 0px;
  }
}

.bl-our-project-des{
  max-width: 750px;
  margin-bottom: 50px;
  margin-top: 30px;
  h2{
    font-size: 36px;
    line-height: 55px;
    font-family: $font_cabin;
    font-weight: bold;
    color: #000;
    margin: 0px 0px 10px;
    &:nth-of-type(2){
      position: relative;
      &:after{
        content: "";
        border-bottom: solid 3px $color_main;
        width: 25px;
        display: block;
        position: absolute;
        bottom: -20px;
      }
    }
    span{
      background: $color_main;
      color: #fff;
    }
  }
  h5{
    font-size: 12px;
    line-height: 36px;
    font-family: $font_montserrat;
    font-weight: normal;
    color: #000;
    margin: 30px 0px 0px;
  }
}

.red-text {
  color: #fff;
  background-color: $color_main;
  box-shadow: 0.5em 0 0 $color_main,-0.5em 0 0 $color_main;
  padding: 3px 5px;
}

.red-txt {
  color: $color_main;
}

.yellow-txt {
  background-color: #FFF5D7;
}

.red-text-16 {
  @extend .red-text;
  font-size: 16px;
}

.bl-our-project-button-more{
  display: table;
  height: 220px;
  min-height: 220px;
  width: 100%;

  @media #{$tablet} {
    height: 345px;
    min-height: 345px;
  }

/*  &:hover {

    #btn-project-more .btn-plus {
      @include scale(1.05);
    }
  }*/

  #btn-project-more {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: $color_main;
    width: 100%;
    border: none;
    h5{
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
      font-family: $font_montserrat;

      /*&:after{
        content: url('../img/content/our_project/add-button.png');
        display: block;
        margin-top: 20px;
        @include transition(all 0.3s ease-out);
      }*/

      span{
        display: block;
      }
    }

    .btn-plus {
      background: url('../img/content/our_project/add-button.png') no-repeat center center;
      display: block;
      width: 36px;
      height: 36px;
      margin: 20px auto 10px auto;
      @include transition(all 0.3s ease-out);
      cursor: pointer;
      border: none;

      &:hover {
        @include scale(1.2);
      }

      span {
        display: none;
      }
    }
  }
}

/* HOME - ACTION TO CALL */
.panel-content {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  p {
    font-size: 15px;
    line-height: 27px;
    margin: 0;
  }

  .input-style {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color_base;
    margin-bottom: 18px;
    outline: none;
  }

  .form-btn {
    text-align: right;
  }
}

form .form-btn {
  text-align: right;
}

/* CONTACT*/
.contact-paragraph {
  margin-bottom: 50px;
  h2 {
    font-size: 38px;
    line-height: 44px;
    font-family: $font_montserrat;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.4px;
  }


}

a.acttactment{
  display: block;
  -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  .bl-project-button{
    .bl-project-button-inner{
      height: 212px;
      min-height: 212px;
      width: 100%;
      text-align: center;
      background: $color_main;
      display: table;
      .btn-align-middle{
        display: table-cell;
        vertical-align: middle;
        min-height: 212px;
      }
      .bl-project-button-title{
        h5{
          font-size: 20px;
          color: #fff;
          text-transform: uppercase;
          span{
            display: block;
          }
        }
      }
      .bl-project-button-action{
        #btn-project-more{
          border: none;
          background: url('../img/content/our_project/add-button.png');
          display: block;
          margin: 20px 0px;
            width: 36px;
            height: 35px;
            margin: 0px auto;
            outline: none;
            &:focus{
              outline: none;
            }
        }
      }
    }
  }
  &:hover{
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }
}

.heading-title {
  color: $color_main;
  font-family: $font_montserrat;
  font-size: 28px;
  font-weight: 600;
}