.caption-content {
  font-family: $font_cabin;
  text-align: center;
  max-width: 520px;

  h2 {
    color: $color_main;
    font-family: $font_montserrat;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
  p {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 500;
    padding: 0 93px;
    line-height: 26px;
  }
}

.bl-our-project-content{
  h2{
    font-size: 22px;
    line-height: 38px;
    font-family: $font_cabin;
    font-weight: bold;
    background: $color_main;
    color: #fff;
    margin: 0px 0px 10px;
    &:nth-of-type(3){
      position: relative;
      &:after{
        content: "";
        border-bottom: solid 3px $color_main;
        width: 25px;
        display: block;
        position: absolute;
        bottom: -25px;
      }
    }
  }
  h5{
    font-size: 12px;
    line-height: 36px;
    font-family: $font_montserrat;
    font-weight: normal;
    color: #000;
    margin: 30px 0px 0px;
  }
}

.bl-our-project-des{
  max-width: 750px;
  h2{
    font-size: 36px;
    line-height: 55px;
    font-family: $font_cabin;
    font-weight: bold;
    color: #000;
    margin: 0px 0px 10px;
    &:nth-of-type(2){
      position: relative;
      &:after{
        content: "";
        border-bottom: solid 3px $color_main;
        width: 25px;
        display: block;
        position: absolute;
        bottom: -20px;
      }
    }
    span{
      background: $color_main;
      color: #fff;
    }
  }
  h5{
    font-size: 12px;
    line-height: 36px;
    font-family: $font_montserrat;
    font-weight: normal;
    color: #000;
    margin: 30px 0px 0px;
  }
}