@import "https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,700|Roboto:400,400i,500,500i,700&subset=latin-ext";
/*
/* Screen sizes
* ========================================================================== */
body {
  font-family: "Raleway", sans-serif; }

#main {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1; }

h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }

.table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto; }
  .table .table-cell {
    display: table-cell;
    vertical-align: middle; }

.element-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.items-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .items-group.align-row {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; }
  .items-group.align-column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }
  .items-group.align-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start; }
  .items-group.align-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end; }
  .items-group.align-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
  .items-group.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .items-group.flex-no-wrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .items-group.vertical-top {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-flex-align: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start; }
  .items-group.vertical-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    -o-align-items: center;
    align-items: center; }
  .items-group.vertical-bottom {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-flex-align: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end; }

.fa-facebook {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .fa-facebook:hover {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

#gMap {
  height: 350px; }

/* File is used for editor component in admin page */

/*# sourceMappingURL=layout.css.map */
