.bl-about{
    @extend .heading;

	/*.bl-about-title{
	    @media #{$not_mobile} {
			margin-left: -15px;
			margin-right: -15px;
		}
	}*/
	.bl-about-content{
	    margin: 0px 0px 50px;

		>div {
			padding: 0;
		}

		section.section-right{
		    padding-right: 66px;

			@media #{$mobile} {
				margin-top: 20px;
			}
			h2{
				font-size: 22px;
				line-height: 38px;
				font-family: $font_cabin;
				font-weight: bold;
				//background-color: $color_main;
				color: #fff;
				text-align: justify;
				margin: 0px 0px 10px;
				&:last-child{
					position: relative;
					&:after{
						content: "";
						border-bottom: solid 3px $color_main;
						width: 25px;
						display: block;
						position: absolute;
						bottom: -25px;
					}
				}
			}
			h5{
				font-size: 12px;
				line-height: 36px;
				font-family: $font_montserrat;
				font-weight: normal;
				color: #000;
			    margin: 30px 0px 0px;
			}
		}
		section.section-left{
			padding-right: 22px;
			h2{
				font-size: 15px;
				font-family: $font_cabin;
				font-weight: normal;
				line-height: 28px;
				letter-spacing: 0.3px;
				color: #474747;
				margin: 0px;
			}
		}
	}
	.bl-about-des{

		.bl-about-des-img{
			position: relative;
			&:before {
					position:absolute;
					z-index:-1;
					bottom:0;
					left:0;
					width:100%;
					height:50% ;
					content:"";
					background-color:$color_main;
					margin-bottom: -1px;
			}

			img{
				width: 100%;
			}
		}
		.bl-about-des-content{
			padding: 50px 0;
			background: $color_main url("../img/content/about/futurify.png") no-repeat center bottom;
			color: #fff;
			position: relative;
			background-size: contain;
			@media #{$mobile} {
				background : $color_main ;
				padding: 20px 0;
			}
			.container >div {
				padding: 0;
			}

			section.bl-des-left{
				h2{
					font-family: $font_cabin;
					font-size: 15px;
					line-height: 28px;

					@media #{$not_mobile} {
						padding-right: 15px;
					}
				}
			}
			section.bl-des-right{
				    padding: 0px 44px;
				h2{
					font-family: $font_cabin;
					font-weight: bold;
					font-size: 22px;
					line-height: 38px;
					span{
						text-decoration: underline;
					}

					@media #{$not_mobile} {
						padding-left: 15px;
					}
				}
			}
		}
	}
	.bl-about-main-people{
		padding: 0 50px;
	    margin: 100px 0 75px;

		@media #{$mobile} {
			margin: 0 0 30px 0;
		}

		.container >div {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		.bl-about-main-people-img{
			@extend .pattern-bg;

			@media #{$mobile} {
				&:before {
					content: "";
					position: absolute;
					background: $color_main;
					top: 0;
					left: 0;
					right: 0;
					height: 50%;
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}
		.bl-about-main-people-des{
			display: table;
			margin-top: 50px;

			.bl-about-main-people-des-content{
				display: table-cell;
				vertical-align: middle;
				h2{
					font-size: 22px;
					line-height: 38px;
					font-family: $font_cabin;
					font-weight: bold;
					background: #000;
					color: #fff;
					margin: 0px 0px 10px;
					&:nth-of-type(3){
						position: relative;
						&:after{
							content: "";
							border-bottom: solid 3px $color_main;
							width: 25px;
							display: block;
							position: absolute;
							bottom: -25px;
						}
					}
				}
				h5{
					font-size: 12px;
					line-height: 36px;
					font-family: $font_montserrat;
					font-weight: normal;
					color: $color_main;
				    margin: 30px 0px 0px;
				}
				p{
					font-size: 15px;
					font-family: $font_cabin;
					font-weight: normal;
					line-height: 28px;
					letter-spacing: 0.3px;
					color: #474747;
					margin: 0px;
				}
			}
		}
	}
	.bl-about-teams{
		background: #000 url("../img/content/about/wordhard.png") no-repeat center top;
		padding: 80px 0px;

		@media #{$tablet} {
			.quote .team-content {
				height: 345px;
				min-height: 345px;
			}
		}

		@media #{$mobile} {
			background : #000;
			padding: 20px 0;

			.quote .team-content {
				height: auto;
			}
		}
		background-size: 90%;
		background-position: 0 40px;
		position: relative;

		.bg-pattern {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			@media #{$mobile} {
				background : none ;
			}
			background: url("../img/content/about/playhard.png") no-repeat right bottom;
			background-size: 90%;
		}

		/*h1{
		    margin-left: 10px;
		}*/

		.team-content{
			margin-bottom: 18px;
		    height: 220px;
			display: table;
			position: relative;

			p{
				display: table-cell;
			    padding: 5px;
				vertical-align: middle;
				font-size: 15px;
				font-family: $font_cabin;
				font-weight: normal;
				line-height: 28px;
				letter-spacing: 0.3px;
				color: #fff;
				margin: 0px;
				position: relative;
				&:after{
					content: "";
					border-bottom: solid 3px $color_main;
					width: 25px;
					display: block;
					position: absolute;
					bottom: -20px;
				}
			}

			.member-info {
				width: 90%;
				bottom: 10px;
				position: absolute;
				background: #fff;
				left: 50%;
				@include transform(translate(-50%, 0));
				padding: 5px 10px;
				opacity: 0;
				@include transition(opacity 0.2s ease-in);

				.member-name {
					font-weight: bold;
					text-transform: uppercase;
				}
			}

			&.hover .member-info{
				opacity: 1;
			}
		}
		.team-red{
			background: $color_main;
			@include transition(background 0.3s ease);
			cursor: pointer;

			p{
				@include transition(color 0.3s ease);
				&:after
				{
					border: none;
					position: static;
				}
			}

			&:hover {
				background: $color_light;

				p {
					color: $color_main;
				}
			}
		}
		.main-title{
			p{
				font-size: 30px;
				line-height: 43px;
				font-family: $font_montserrat;
				color: #fff;
			}
		}
	}
}

.bl-about-our-mission{
	margin: 100px 0;

	@media #{$tablet} {
		margin: 70px 0;
	}

	@media #{$mobile} {
		margin-top: 0;
		margin-bottom: 30px;

		>.container {
			padding: 0;
		}

		.no-p-l {
			padding-right: 0;
		}

		.bl-about-our-mission-content {
			padding: 30px 15px 0 15px;

			.black-title {
				margin-bottom: 20px;
			}
		}
	}

	.bl-about-our-mission-img{
		/*background: url("../img/content/about/bg-line-2.png");
		background-position: top right;
		background-repeat: no-repeat;
		img{
			padding: 22px 22px 0px 0px;
		}*/
		@media #{$mobile} {
			margin: 10px;
		}
		@extend .pattern-bg;
	}
	.bl-about-our-mission-content{
		p{
			color: #000;
			font-weight: bold;
			font-family: $font_cabin;
			line-height: 59px;
			font-size: 36px;
			span{
				background: $color_main;
				color: #fff;
				line-height: 59px;
				font-size: 36px;
				font-weight: bold;
			}

			@media #{$mobile} {
				font-size: 20px;
				line-height: 35px;

				span {
					font-size: 20px;
					line-height: 35px;
				}
			}
		}
		h5{
			font-size: 12px;
			line-height: 36px;
			font-family: $font_montserrat;
			font-weight: normal;
			color: $color_main;
			margin: 30px 0px 0px;

			@media #{$mobile} {
				margin-top: 0;
			}
		}

		@media #{$tablet} {
			.black-title {
				margin-top: 45px;
			}
		}
	}
}


@media only screen and (max-width: 960px){
	.bl-about{
		font-size: 14px;
		 .bl-about-title{
			h1{
				font-size: 25px;
				line-height: 32px;
				letter-spacing: 1px;
			}
		}
		.bl-about-content{
			section.section-right{
				padding-right: 0px;
				h2{
					font-size: 18px;
					line-height: 35px;
				}
				h5{
					font-size: 10px;
				}
			}
		}
		.bl-about-des{
			.bl-about-des-content{
				section.bl-des-left{
					h2{
						line-height: 25px;
						font-size: 14px;
					}
				}
				section.bl-des-right{
					padding: 0px;
					h2{
						line-height: 30px;
						font-size: 18px;
					}
				}
			}
		} 
		.bl-about-main-people{
			padding: 0px;

			[class*='col-']{
				padding: 0px;
			}
			.bl-about-main-people-des{
				.bl-about-main-people-des-content{
					h2{
						font-size: 18px;
						line-height: 35px;
					}
					h5{
						font-size: 12px;
						line-height: 36px;
					}
					p{
						font-size: 15px;
						line-height: 25px;
					}
				}
			}
		}
		.bl-about-teams{
			h1{
				font-size: 25px;
				line-height: 44px;
			}
			.team-content{
				width: 100%;
				.main-title{
					font-size: 25px;
					line-height: 35px;
				}
				img{
					width: 100%;
				}
			}
		}
		.bl-about-our-mission{
			.bl-about-our-mission-content{

				h1{
					font-size: 25px;
					line-height: 35px;
				}
				p{
					font-size: 20px;
					line-height: 35px;
					span{
						font-size: 20px;
						line-height: 35px;
					}
				}
			}
		}
	}
}