.bl-about{
    margin: 127px 0px 0px;
	.bl-about-title{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.bl-about-content{
	    margin: 0px 0px 50px;
		section.section-right{
		    padding-right: 66px;
			h2{
				font-size: 22px;
				line-height: 38px;
				font-family: $font_cabin;
				font-weight: bold;
				background: $color_main;
				color: #fff;
				margin: 0px 0px 10px;
				&:nth-of-type(3){
					position: relative;
					&:after{
						content: "";
						border-bottom: solid 3px $color_main;
						width: 25px;
						display: block;
						position: absolute;
						bottom: -25px;
					}
				}
			}
			h5{
				font-size: 12px;
				line-height: 36px;
				font-family: $font_montserrat;
				font-weight: normal;
				color: #000;
			    margin: 30px 0px 0px;
			}
		}
		section.section-left{
			padding-right: 22px;
			h2{
				font-size: 15px;
				font-family: $font_cabin;
				font-weight: normal;
				line-height: 28px;
				letter-spacing: 0.3px;
				color: #474747;
				margin: 0px;
			}
		}
	}
	.bl-about-des{
		.bl-about-des-img{
			img{
				width: 100%;
			}
		}
		.bl-about-des-content{
			background: $color_main;
			color: #fff;
			section.bl-des-left{
				h2{
					font-family: $font_cabin;
					font-size: 15px;
					line-height: 28px;
				}
			}
			section.bl-des-right{
				    padding: 0px 44px;
				h2{
					font-family: $font_cabin;
					font-weight: bold;
					font-size: 22px;
					line-height: 38px;
					span{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.bl-about-main-people{
		padding: 0px 50px;
	    margin: 50px 0px;
		.bl-about-main-people-img{
			background: url('../img/content/about/background-line-red.png');
		    background-position: top right;
		    background-repeat: no-repeat;
			img{
			    padding: 22px 22px 0px 0px;
			}
		}
		.bl-about-main-people-des{
			display: table;
		    min-height: 560px;
			.bl-about-main-people-des-content{
				display: table-cell;
				vertical-align: middle;
				h2{
					font-size: 22px;
					line-height: 38px;
					font-family: $font_cabin;
					font-weight: bold;
					background: #000;
					color: #fff;
					margin: 0px 0px 10px;
					&:nth-of-type(3){
						position: relative;
						&:after{
							content: "";
							border-bottom: solid 3px $color_main;
							width: 25px;
							display: block;
							position: absolute;
							bottom: -25px;
						}
					}
				}
				h5{
					font-size: 12px;
					line-height: 36px;
					font-family: $font_montserrat;
					font-weight: normal;
					color: $color_main;
				    margin: 30px 0px 0px;
				}
				p{
					font-size: 15px;
					font-family: $font_cabin;
					font-weight: normal;
					line-height: 28px;
					letter-spacing: 0.3px;
					color: #474747;
					margin: 0px;
				}
			}
		}
	}
	.bl-about-teams{
		background: #000;
		padding: 80px 0px;
		h1{
		    margin-left: 10px;
		}
		.team-content{
			margin-bottom: 18px;
			min-height: 205px;
			display: table;
			position: relative;

			p{
				display: table-cell;
			    padding: 5px;
				vertical-align: middle;
				font-size: 15px;
				font-family: $font_cabin;
				font-weight: normal;
				line-height: 28px;
				letter-spacing: 0.3px;
				color: #fff;
				margin: 0px;
				position: relative;
				&:after{
					content: "";
					border-bottom: solid 3px $color_main;
					width: 25px;
					display: block;
					position: absolute;
					bottom: -20px;
				}
			}

			.member-info {
				width: 80%;
				bottom: 10px;
				position: absolute;
				background: #fff;
				left: 50%;
				@include transform(translate(-50%, 0));
				padding: 5px 10px;
				opacity: 0;
				@include transition(opacity 0.2s ease-in);

				.member-name {
					font-weight: bold;
				}
			}

			&.hover .member-info{
				opacity: 1;
			}
		}
		.team-red{
			background: $color_main;
			p{
				&:after
				{
					border: none;
					position: static;
				}
			}
		}
		.main-title{
			p{
				font-size: 30px;
				line-height: 43px;
				font-family: $font_montserrat;
				color: #fff;
			}
		}
	}
	.bl-about-our-mission{
		margin: 50px 0px;
		.bl-about-our-mission-img{
		    background: url("../img/content/about/background-line-red.png");
	        background-position: top right;
		    background-repeat: no-repeat;
		    img{
	    	    padding: 22px 22px 0px 0px;
		    }
		}
		.bl-about-our-mission-content{
			p{
				line-height: 59px;
				font-size: 36px;
				color: #000;
				font-weight: bold;
				font-family: $font_cabin;
				span{
					background: $color_main;
					color: #fff;
				}
			}
			h5{
				font-size: 12px;
				line-height: 36px;
				font-family: $font_montserrat;
				font-weight: normal;
				color: $color_main;
			    margin: 30px 0px 0px;
			}
		}
	}
}
@media only screen and (max-width: 960px){
	.bl-about{
		font-size: 14px;
		 .bl-about-title{
			h1{
				font-size: 25px;
				line-height: 32px;
				letter-spacing: 1px;
			}
		}
		.bl-about-content{
			section.section-right{
				padding-right: 0px;
				h2{
					font-size: 18px;
					line-height: 35px;
				}
				h5{
					font-size: 10px;
				}
			}
		}
		.bl-about-des{
			.bl-about-des-content{
				section.bl-des-left{
					h2{
						line-height: 25px;
						font-size: 14px;
					}
				}
				section.bl-des-right{
					padding: 0px;
					h2{
						line-height: 30px;
						font-size: 18px;
					}
				}
			}
		} 
		.bl-about-main-people{
			padding: 0px;
			[class*='col-']{
				padding: 0px;
			}
			.bl-about-main-people-des{
				.bl-about-main-people-des-content{
					h2{
						font-size: 18px;
						line-height: 35px;
					}
					h5{
						font-size: 12px;
						line-height: 36px;
					}
					p{
						font-size: 15px;
						line-height: 25px;
					}
				}
			}
		}
		.bl-about-teams{
			h1{
				font-size: 25px;
				line-height: 44px;
			}
			.team-content{
				width: 100%;
				.main-title{
					font-size: 25px;
					line-height: 35px;
				}
				img{
					width: 100%;
				}
			}
		}
		.bl-about-our-mission{
			.bl-about-our-mission-content{
				h1{
					font-size: 25px;
					line-height: 35px;
				}
				p{
					font-size: 20px;
					line-height: 35px;
				}
			}
		}
	}
}