.bl-blog-detail{
    margin: 127px 0px 0px;
	.bl-blog-detail-title{
		h1{
			font-size: 38px;
			line-height: 44px;
			font-family: $font_montserrat;
			font-weight: 700;
			margin: 0px;
		    margin-bottom: 45.8px;
		    &:after{
		    	content: "";
			    display: inline-block;
			    width: 10px;
			    height: 10px;
			    background: $color_main;
		        margin-left: 8px;
		    }
		}
		h5{
			.user-detail{
				padding-left: 20px;
				position: relative;
				&:before{
					content: url("../img/content/blog_list/user-line.png");
				    position: absolute;
				    left: 0;
				    bottom: -1px;
				}
				&:after{
					content: "|";
					padding: 0px 12px;
				}
			}
			.time-detail{
				position: relative;
				padding-left: 20px;
				// margin-left: 10px;
				&:before{
					content: "\e023";
					font-family: 'Glyphicons Halflings';
				    position: absolute;
				    left: 0;
				    bottom: 0px;
				    color: #979797;
				}
			}
		}
		p{
			font-size: 15px;
			font-family: $font_cabin;
			line-height: 28px;
		    letter-spacing: 0.3px;
		    color: #474747;
		    margin: 0px;
		    margin-bottom: 49.2px;
		}
		.post-categories {
			padding: 0;

			font-size: 80%;
			a {
				color: $color_main;
			}
		}
	}
	.main-content{
		h3,h2,h1 {
			color: $color_main;

		}
		img{
			width: 100%;
			@include img-responsive;
		}
	}
}