.masonry-case {
	.grid-sizer{
		float: left;
	    position: absolute;
	}
	.gutter-sizer{
		width: 80px;
	}
	.grid-item{
		width: 50%;
		padding: 0px 5px;
		margin-bottom: 20px;
		img{
			width: 100%;
		}
	}
}
.bl-case{
	@extend .heading;
	.case-steps{
		.case-step-content{
		    margin-bottom: 100px;
		    h5{
				text-align: right;
				font-size: 16px;
				font-family: $font_montserrat;
				font-weight: 700;
				width: 25px;
			    position: relative;
				&:after{
					content: "";
					border-bottom: 3px solid #000;
					display: block;
				    position: absolute;
				    right: -15px;
				    left: 0;
				    bottom: -7px;
				}
			}
			h1 {
		        font-size: 28px;
		        font-family: $font_montserrat;
		        font-weight: 700;
		        color: $color_main;
		        text-transform: uppercase;
	            margin-bottom: 30px;
	        }
			.case-step-content-des > div {
				padding: 0;
			}
		    .case-step-content-des{
				img{
					width: 100%;
				}
				.heading{
					padding: 15px 0px 40px;
				}

				p {
				    font-size: 15px;
				    font-family: $font_cabin;
				    line-height: 28px;
				    max-width: 442px;
				    letter-spacing: 0.3px;
				    color: #474747;

					&:first-child {
						margin-top: 0;
					}
				}
				h2{
					padding-right: 33px;
					span{
						background: $color_main;
						font-size: 22px;
						line-height: 38px;
						font-family: $font_cabin;
						font-weight: bold;
						color: #fff;
					}
				}
				h4{
					font-size: 12px;
					line-height: 36px;
					letter-spacing: 0.3px;
					font-family: $font_montserrat;
					font-weight: 700;
					color: #000;
				}
			}
			&.step2 {
				position: relative;
				&:before{
					content: 'hard';
					text-transform: uppercase;
					opacity: 0.04;
					position: absolute;
					font-family: 'Montserrat';
					font-size: 180px;
					font-weight: 600;
					color: #000000;
					right:-20%;
					top: -130px;
					@media #{$mobile_and_tablet} {
						display: none !important;
					}
				}
				&:after {
					content: 'working';
					text-transform: uppercase;
					opacity: 0.04;
					position: absolute;
					font-family: 'Montserrat';
					font-size: 180px;
					font-weight: 600;
					color: #000000;
					left: -20%;
					bottom: -180px;
					@media #{$mobile_and_tablet} {
						display: none !important;
					}
				}
			}

		}
	}
	.case-view{
		padding: 100px  0px;
		a{
			text-decoration: none;
			color: #fff;
			button{
				padding:0px 50px;
			  	height: 40px;
			  	background-color: #fa4945;
			  	font-size: 14px;
				font-family: $font_montserrat;
				font-weight: 700;
				border: none;
			}
		}
		.case-social {
			float: right;
			font-weight: bolder;
			.addtoany_list {
				margin-left: 10px;
			}

			li {
				display: inline-block;
				vertical-align: middle;
				margin-right: 13px;
				@media #{$iphone} {
					margin-right: 5px;
				}
			}

			span {
				font-size: 14px;
				font-family: $font_montserrat;
				font-weight: 700;
				color: #000;
			}

			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				padding: 6px 0px;
				@include border-radius(50%);
				color: $color_light;
				background: $color_base;
				text-align: center;
				.fa{
					font-size: 14px !important;
				}
			}

		}
	}
}
.case-feel{
	background: $color_main url('../img/common/line-background.png') no-repeat;
	background-size: cover;
	.case-feel-in{
		text-align: center;
		padding: 100px 0px;
		h1{
			font-size: 40px;
			line-height: 61px;
			font-family: $font_montserrat;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			margin: 0px;
		}
		a{
			text-decoration: none;
			color: $color_main;
			button{
				background: #fff;
				padding: 10px 35px;
				font-size: 14px;
				font-family: $font_montserrat;
				font-weight: bold;
				text-transform: uppercase;
				border: none;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.bl-case .bl-case-title h1{
		font-size: 25px;
		line-height: 30px;
	}
	.bl-case .case-steps .case-step-content {
		h5{
			font-size: 16px;
		}
		h1{
			font-size: 20px;
		}
		.case-step-content-des{
			p{
				font-size: 14px;
				line-height: 24px;
			}
			h2{
			    padding-right: 0px;
				span{
					font-size: 16px;
					line-height: 34px;
				}
			}
			h4{
				font-size: 10px;
				line-height: 34px;
			}
		}
	}
	.case-view{
		text-align: center;
		.case-social{
			float: none !important;
		    margin-top: 10px;
		    ul{
		    	text-align: center;
		    	li{
		    		float: none !important;
		    	}
		    }
		}
	}
	.case-feel h1{
		font-size: 25px;
		line-height: 32px;
	}
}

.addthis_button_pinterest .pin_it_iframe_widget {
	display: none;
}