.contact-page {
  @extend .heading;

  .contact-center {
    @include flex();
    background: $color_main url("../img/content/contact/contact-bg.png");
  }

  .contact-form-container {
    @include make-col-span(7);
    color: $color_light;
    padding: 20px 20px 20px calc((100% - #{$container-large-desktop})/2);

    >.form-content {
      max-width: 470px;
    }

    .wpcf7-form-control-wrap {
      textarea{
          max-height: 109px;
          resize: none;
      }
      input, textarea {
        background: transparent;
        color: $color_light;
        border-color: $color_light;
        @include border-radius(0px);
        @include placeholder($color_light);

        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
          color: $color_light;
        }
      }
    }
    .btn-main {
      float: right;
    }
  }

  .contact-info {
    @include make-col-span(5);
    background: $color_base;
    color: $color_light;
    padding: 20px calc((100% - #{$container-large-desktop})/2) 20px 20px;
    padding-left: 50px;
  }

  #gMap {
    height: 565px;
  }

  .contact-field {
    @include flex;
    margin-bottom: 25px;
  }

  .contact-icon {
    margin-right: 10px;
    width: 20px;
    color: $color_main;
  }

  .contact-social {
    padding-left: 30px;
    a {
      font-size: 23px;
      color: $color_light;
      margin-right: 20px;
    }
  }
  .service-choice {
    @include make-col-span(3);
    display: block;
    float: left;
  }

  .service {
    @include make-col-span(9);
    display: block;
    float: left;
  }

  .wpcf7-radio {
    display: block;

    >* {
      display: block;
      float: left;
      @include make-col-span(4);
      margin: 0;
      text-align: right;
    }
  }

  .wpcf7-form >p {
    @include clearfix;
  }

  .btn-main {
    font-weight: bold;
    font-family: $font_montserrat;
    padding: 10px 20px;
    min-width: 128px;
  }
  .contact-hiring{
    font-family: $font_montserrat;
    font-weight: bold;
    margin: 30px 0px 20px;
  }
}
form{
  .wpcf7-form-control-wrap {
    input[type=radio]{
       -webkit-appearance: none;
       -moz-appearance:    none;
       appearance:         none;
       background: #fff !important;
       width: 17px;
       height: 17px;
       @include border-radius(50% !important);
       position: relative;
       margin-right: 10px;
      &:checked{
        &:after{
          content: "";
          width: 5px;
          height: 5px;  
          @include border-radius(50%);
            position: absolute;
            left: 35%;
            right: 0;
            display: block;
            background: #000;
            bottom: 35%;
        }
      }
      &:focus{
        outline: none;
      }
    }
  }

  .wpcf7-response-output {
    border: none;
    font-size: 16px;
  }

  .wpcf7-not-valid-tip {
    color: $color_light;
    font-size: 16px;
    font-style: italic;
    padding: 5px 0 10px 0;
  }
}
.form-content{
  h1{
    margin-bottom: 50px;
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      background: #fff;
      display: inline-block;
      margin-left: 10px;
    }
  }
  p{
    &:last-child{
      margin: 0px;
    }
  }
}
.contact-content{
  h1{
      margin-bottom: 42px;
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      background: #fa4945;
      display: inline-block;
      margin-left: 10px;
    }
  }
  p{
    margin-bottom: 25px;
  }
}
@media #{$mobile}{
  .contact-paragraph {
    h2{
      font-size: 25px;
    }
    p{
      font-size: 14px;
      line-height: 25px;
    }
  }
  .form-content{
    h1{
      font-size: 25px;
      line-height: 30px;
    }
  }
}