.home {
  .caption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    max-width: 520px;
    z-index: 4;


  }

  .caption .btn-video-play {
    margin: 0 auto;
    @include box-shadow(0px 0px 8px 5px #ccc);
    @extend .btnScale;
  }
}

#homePage {
  video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: -1;
  }
}

.home-introduction {
  background: $color_main;
  padding: 50px 0;

  @media #{$mobile} {
    height: auto !important;
  }

  h1 {
    color: $color_light;
    margin: 0;
  }

  .container {
    position: relative;
    padding: 0;
    @include translate(0, -50%);
    top: 50%;

    @media #{$mobile} {
      @include translate(0, 0);
      top: 0;
      margin-top: 30px;
    }
  }

  .home-panel {
    position: initial;
  }

  .introduction-img {
    img {
      width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  .panel-frame {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    @include translate(-50%, -50%);
    background: url("../img/content/home/white-line-background.png") no-repeat;
  }

  .action-call-title {
    @media #{$mobile} {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .action-call {
    position: relative;
    overflow: hidden;

    .col-2 {
      @include make-col-span(6);
      min-width: percentage((6 / $grid-columns));
      position: relative;
    }

    .col-1 {
      @include make-col-span(7);
      min-width: percentage((7 / $grid-columns));
    }

    .panel-action {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: $color_light;
      padding: 20px;
      @include translate(-1*percentage((2 / 9)) , -50%);

      @media #{$mobile} {
        position: relative;
        @include translate(0, 0);
        top: -1px;
      }
    }

    @media #{$mobile_and_tablet} {
      margin-top: 30px;
    }

    @media #{$mobile} {
      display: block;

      .col-1, .col-2 {
        width: 100%;
      }

      .col-1 img {
        width: 100%;
      }
    }
  }
}