.bl-staff {
  @extend .heading;

  p {
    font-size: 15px;
    font-family: $font_cabin;
    line-height: 28px;
    max-width: 442px;
    letter-spacing: 0.3px;
    color: #474747;
    margin: 0px;
  }

  .staff-steps {
    position: relative;
    .navbar {
      z-index: 999;
      position: fixed;
      top : 20vh ;
      left: 70% ;
      width: 25%;
      @media #{$mobile_and_tablet} {
        display: none !important;
      }

    }
    .staff-step-content {
      margin: 50px 0px;
      h5 {
        text-align: right;
        font-size: 16px;
        font-family: $font_montserrat;
        font-weight: 700;
        width: 25px;
        left : -20px;
        position: relative;
        &:after {
          content: "";
          border-bottom: 3px solid #000;
          display: block;
          position: absolute;
          right: -14px;
          left: 0;
          bottom: -7px;
        }
      }
      h1 {
        font-size: 28px;
        font-family: $font_montserrat;
        font-weight: 700;
        color: $color_main;
        text-transform: uppercase;
      }
      /*span {
        font-size: 16px;
        line-height: 31px;
        letter-spacing: 0.3px;
        color: #fff;
        background: $color_main;
        text-align: center;
      }*/
      /*img {
        float: left;
        margin-right: 14px;
        max-width: 300px;
        &:last-child {
          margin: 0px;
        }
      }*/
    }
    .staff-phase {
      clear: left;
      padding-bottom: 35px;

      img {
        display: inline-block;
        float: left;
        margin-right: 40px;
      }
      h4 {
        font-size: 18px;
        font-family: $font_montserrat;
        font-weight: 700;
        display: table-cell;
        vertical-align: middle;
        height: 63px;
      }

      &:not(:last-child) {
        &:after {
          content: "";
          border-right: 3px solid $color_main;
          height: 30px;
          display: block;
          position: absolute;
          left: 45px;
        }
      }


      a {
        display: block;
        .hover, .normal {
          width: 62px;
          height: 63px;

        }

        .hover {
          display: none;
        }
        &:hover {
          color: $color_main;
          background: none;
        }
      }
      a:hover {
        .hover {
          display: block;
        }
        .normal {
          display: none;
        }
      }


        a.mPS2id-highlight-first {
          color: $color_main;
          .hover {
            display: block;
          }
          .normal {
            display: none;
          }
        }

    }
  }
  .staff-line {
    background: $color_main url("../img/common/background-zigzag.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    margin: 0px auto;
    padding: 100px 0px;
    h1 {
      font-size: 40px;
      line-height: 53px;
      font-family: $font_montserrat;
      font-weight: bold;
      color: #fff;
      margin: 0px auto 20px;
      //max-width: 490px;
      span{
          font-size: 40px;
          line-height: 53px;
          font-family: $font_montserrat;
          font-weight: bold;
      }
    }
    button {
      font-size: 14px;
      text-align: center;
      font-family: $font_montserrat;
      font-weight: bold;
      background: #fff;
      padding: 10px 30px;
      border: none;
      color: $color_main;
    }
  }
}

@media only screen and (max-width: 767px) {
  .bl-staff {
    p {
      font-size: 14px;
      line-height: 25px;
    }
    .bl-staff-title {
      h1 {
        font-size: 25px;
        line-height: 32px;
      }
    }
    .staff-steps {

      .staff-step-content {
        margin-bottom: 50px;
        h5 {
          font-size: 16px;
        }
        h1 {
          font-size: 20px;
        }
        img {
          max-width: 100%;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .staff-line {
      h1 {
        font-size: 25px;
        line-height: 32px;
      }
    }
  }
}