$color_base: #000;
$color_main: #fa4945;
$color_light: #fff;
$color_menu_bg: #373B3C;
$color_overlay: rgba(0,0,0,0.6);

$font_montserrat: 'Montserrat', sans-serif;
$font_cabin: 'Cabin', sans-serif;

$font_size_base: 14px;
$font_size_header: 16px;


/*
/* Screen sizes
* ========================================================================== */
$mobile: "only screen and (max-width: #{$screen-xs-max})";
$mobile_and_tablet : "only screen and (max-width: #{$screen-sm-max}) ";
$tablet: "only screen and (min-width:#{$screen-tablet}) and (max-width:#{$screen-sm-max})";
$desktop: "only screen and (min-width:#{$screen-desktop})";
$desktop_small: "only screen and (min-width:#{$screen-desktop}) and (max-width:#{$screen-md-max})";
$desktop_large: "only screen and (min-width:#{$screen-lg-desktop})";