/.idea
wp-content/themes/futurity/sass/layout.css.map
.htaccess
wp-content/themes/futurity/.sass-cache/
/wp-content/uploads
wp-content/themes/futurity/sass/editor-style.css
wp-content/themes/futurity/sass/editor-style.css.map
