/*.home .footer, .admin-bar.home .footer {
	top: 0;
}

.admin-bar .footer {
	top: 80px;
}*/

.footer {
	background-color: #000;
	min-height: 310px;
	padding-top: 90px;
	color: #bababa;
	text-align: left;
	position: relative;

	.newsletter {
		margin-top: 55px;
		input[type="text"], input[type="email"] {
			color: #7e7e7e;
			border: 0;
			background-color: #000;
			border-radius: 0;
			border-bottom: 1px solid #3e3e3e;
			width: 185px;
			float: left;
			margin-right: 10px;
			padding-left: 0;
			font-size: 14px;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		.btn {
			float: right;
		}
	}
	.footer-social {
		margin-top: 43px;
		.fa {
			font-size: 23px;
			color: #fff;
			margin-right: 23px;
		}
	}
	.sologan {
		font-size: 20px;
		font-family: $font_cabin;
		font-weight: 500;
		font-style: italic;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	.footer-01 {
		padding: 0;
	}
	.footer-02, .footer-03 {
		margin-top: -3px;
		padding: 0;
		&:before {
			content: "";
			position: absolute;
			left: -38px;
			width: 27px;
			border: 1px solid $color-main;
			top: 12px;
		}
		p {
			font-size: 16px;
			font-weight: 600;
		}
	}
	.footer-02 {
		padding-left: 10px;
		p {
			padding-right: 170px;
		}
	}
	.footer-03 {
		padding-left: 20px;
		&:before {
			left: -25px;
		}
		p {
			padding-right: 110px;
		}

		p.flex {
			padding: 0;
		}
	}
}
.copyright {
	font-size: 11px;
	color: #545454;
}

@media #{$desktop_small} {
  .footer {

  }
}

@media #{$mobile} {
  .footer {
  	padding-top: 35px;
  	min-height: 190px;
  	.newsletter {
  		margin-top: 15px;
  		input[type="text"], input[type="email"] {
  			width: 80%;
  		}
  	}
  	.footer-03 {
  		padding-right: 20px;
  		&:before {
	  		content: none;
	  	}
	  	p {
	  		padding-right: 0;
	  	}
  	}
  	.footer-social {
  		margin-top: 29px;
  		.fa {
  			font-size: 17px;
  			margin-right: 20px;
  		}
  	}
  }
} 