.admin-bar .header {
	top: 32px;
}

.home .header, .home .header.header-stick, .page-template-page-slider-template .header, .page-template-page-slider-template .header.header-stick {
	background: transparent !important;
	@include box-shadow(none);
	position: fixed;
}

.header-stick.header {
	@include box-shadow(3px 4px 5px 0px rgba(1,2,2,0.3));
	position: fixed;
	padding: 30px 0;
	top: 0;
}

.menu-item {
	a:focus {
		text-decoration: none;
	}
}

.header {
	top: 0;
	width: 100%;
	padding: 30px 0 15px;
	z-index: 9;
	position: relative;
	background: $color_light;
	@include transition(all 0.3s ease);
	&.header-stick + * {
		margin-top: 100px;
	}
	#logo-header {
		padding-left: 0;

		/*span:first-child {
			color: $color_base;
		}

		span:last-child {
			color: $color_main;
		}

		span {
			font-size: 20px;
			font-weight: bolder;
		}*/
	}
	#nav-header {
		float: right;
		padding-right: 12px;
	}
	.main-menu {
		padding-top: 4px;
		.menu-desktop ul {
			@include clearfix;
			padding: 0;
			text-align: right;
			.menu-item-has-children {
				position: relative;
			}

			.menu-item-has-children:hover .sub-menu {
				display: block;
			}
			.sub-menu {
				@extend .dropdown-menu;
				//position: relative !important;
				background-color: transparent;
				border: 0;
				box-shadow: none;
				min-width: inherit;
				width: 100%;
				text-align: center !important;
				margin-top: 0;
				padding-top: 10px !important;
				li {
					display: inline-block;
					text-align: center;
					float: left;
					&.current-menu-item {
						a {
							background-color: $color_main;
							color: #fff;
							&:hover {
								opacity: 0.8;
								color: #fff;
								background-color : $color_main;
							}
						}
					}
					a {
						padding: 0px 10px !important;
					}
					&:first-child {
						border-right: solid 1px #e4e4e4;
					}

					&:hover a {
						background-color: transparent;
						color: $color_main;
					}
				}
			}
		}
		.menu-desktop .menu >li {
			display: inline-block;
			list-style: none;
			margin-left: 43px;
			&.home {
				display: none;
			}
			a {
				font-size: 12px;
				text-transform: uppercase;
				font-family: $font_montserrat;
				color: #000;
				letter-spacing: 0.9px;
				line-height: 14px;
				text-shadow: initial;
				font-weight: bold;
				padding: 4px 6px;
				@include transition(color 0.2s ease);

				&:hover {
					color: $color_main;
					text-decoration: none;
				}
			}

			&:last-child {
				margin-left: 40px;
			}

			&.current-menu-item  {
				a {
					background-color: $color_main;
					color: #fff;
					&:hover {
						opacity: 0.8;
					}
				}
			}

			&.current-menu-parent > a {
				background-color: $color_main;
				color: #fff;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
	  	#logo-header {
	  		float: left;
	  	}
		.main-menu .menu-desktop>ul>li {
			margin-left: 20px;
			&:last-child {
			    margin-left: 20px;
			}
		}
  }
}

@media #{$mobile} {
	.header {
		padding-top: 15px;
		#logo-header {
			padding-left: 15px;
			.logo {
				max-width: 65px;
			}
		}
		#nav-header {
			float: none;
		}
		.menu-mobile {
			position: absolute;
			top:0;
			left:0;
			button {
				.close-icon {
					display: none;
				}
				position: absolute;
			    left: calc(100vw - 50px);
			    top: 25px;
				z-index: 1001;
			    //top: -22px;
			    background: transparent;
				border: 0;
				box-shadow: none;
				width: 20px;
				height: 20px;
				padding: 0;
				&:focus {
					outline: none;
				}
			}
			.nav-menu-mobile {
			   .menu-item {
				   margin: 20px 0;
				   font-size: 20px;
				   font-family: $font_montserrat;
				   font-weight: 500;
				   text-transform: uppercase;
				   color: #fff;
			   }
			}
			&.open {
				button {
					.close-icon {
						display: block;
					}
					.menu-icon {
						display: none;
					}
				}
				.dropdown-menu {
					position: relative;
					height: 100vh;
					width: 100vw;
					background-color: $color_main;
				}

			}


		}
		.menu-item {
			margin: 40px 50px;
			&.home {
				a {
					font-size: 30px;
				}
			}
			a {
				font-size: 16px;
				font-family: $font_montserrat;
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;
				padding-left: 18px;
				&:hover, &:focus {
					background-color: transparent;
				}
			}
		}

		.sub-menu {
			background-color: $color_main;
			border: 0;
			box-shadow: none;
			width: 100%;
			border-radius: 0;
			li {
				margin: 28px 0;
				a {
					font-size: 16px;
					font-family: $font_montserrat;
					font-weight: 500;
					text-transform: uppercase;
					color: #ffd8d8;
					padding-left: 38px;
					&:hover, &:focus {
						background-color: transparent;
					}
				}
				ul {
					padding-left: 25px;
					li {
						list-style: none;
						margin: 20px 0;
						a {
							color: #ffd8d8;
						}
					}
				}
			}
		}
	}
}